<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['']">NBA Prospect Debate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <button class="btn btn-lg btn-secondary my-2 my-sm-0 " [routerLink]="['/vote']">VOTE ON ARTICLES!</button>
    </div>
</nav>
<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="footer">
    <a class="navbar-brand" [routerLink]="['']">This site requires your input to survive!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto">
        </ul>
        <button class="btn btn-lg btn-secondary my-2 my-sm-0 " id="analysisButton" [routerLink]="['/submitFullAnalysis']">SUBMIT AN ANALYSIS FOR A PLAYER!</button>
        <button class="btn btn-lg btn-secondary my-2 my-sm-0 " [routerLink]="['/submitAttributes']">SUBMIT ATTRIBUTE RANKINGS FOR A PLAYER</button>
    </div>
</nav>